div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.App {
  text-align: center;
}

.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}
